# Node.js
node_modules/



# Dependency directories
node_modules/


# Environment variables
.env




# Build files
/dist
/build





# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache


# TypeScript
*.tsbuildinfo

# Yarn integrity file
.yarn-integrity

# Next.js
.next/
out/
next-env.d.ts
.cache

.turbo


# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

# Django specific
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# Virtual environment
venv/
env/
mywork/
*.egg-info/

# IDE/editor files
.vscode/
.idea/
*.swp

# MacOS
.DS_Store

# Windows
Thumbs.db



